# Gradle
.gradle
/build

# Local config
/local.properties
local.properties

# IDE
*.iml
.idea/
!.idea/codeStyles
!.idea/inspectionProfiles

# Mac
.DS_Store

# Android
/captures
.externalNativeBuild
.cxx